<div class="uppermenu">
	<ul>
		<li><a href="#">Dashboard</a></li>
		<li><%= link_to 'Bekijk afspraken', new_afspraak_path %></li>
		<li><%= link_to 'Nieuwe medewerker', new_user_path %></li>
		<li><a href="#">Over dit systeem</a></li>
	</ul>
</div>